@use '../base';
@use '../utils';

.btn {
    background-color: base.$clr-black;
    border-radius: 28px;
    border: none;
    color: base.$clr-light-cream;
    display: inline-block;
    text-decoration: none;
    font-size: base.$fs-14;
    font-weight: 700;
    padding-block: .8rem;
    padding-inline: 2rem;
    text-align: center;

    @include utils.mQ(42.5rem) {
        padding-block: 1.1rem;
        padding-inline: 3.3rem;
    }
}

.btn-profile {
    background-color: base.$clr-light-red;
}

.btn-carousel {
    display: flex;
    background-color: base.$clr-dark-pink;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;

    &:focus {
        background-color: red;
    }
}

.active-btn {
    background-color: base.$clr-magenta;
}