@use '../base';

.logo-img {
    width: 75%;
}

.hero {
    text-align: center;
    margin-block-start: 2rem;
    max-width: 47rem;
    margin-inline: auto;
}

.hero-title {
    font-size: base.$fs-36;
    font-weight: base.$fw-bold;
    line-height: base.$line-height-title;
    margin-block-end: 1rem;
}

.hero-content {
    line-height: base.$line-height-content;
    font-size: base.$fs-16;
    font-weight: base.$fw-normal;
    color: base.$clr-medium-brown;
    padding-inline: 2.5rem;
}

