@use '../base';
@use '../utils';

body {
    background-color: base.$clr-light-cream;
    font-family: base.$font-family;
}

.container {
    width: min(100% - 2rem, 69.4rem);
    margin-inline: auto;
    padding-block: 1rem;

    @include utils.mQ(42.5rem) {
        padding-block: 2.125rem;
        padding-inline: 2.4375rem;
    }
}

.main {
    margin-block-start: 2rem;
}

.designs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 1rem;
    border-radius: 8px;
    padding: 1.5rem;
}

.designs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    @include utils.mQ(42.5rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    @include utils.mQ(61.25rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.graphic-design {
    background-color: base.$clr-galactic-blue;
    grid-area: 1/1/2/3;
    gap: 5.5rem 1rem;

    @include utils.mQ(42.5rem) {
        grid-area: 1/1/3/3;
    }

    @include utils.mQ(61.25rem) {
        // grid-area: 1/1/3/3;
    }
}

.ui-ux {
    background-color: base.$clr-summer-yellow;
    gap: 3rem 1rem;
}

.apps {
    background-color: base.$clr-dark-pink;
    gap: 3rem 1rem;
}

.photography {
    background-color: base.$clr-cyan;
    grid-area: 4/1/5/3;

    @include utils.mQ(42.5rem) {
        grid-area: 3/1/5/3;
    }

    @include utils.mQ(61.25rem) {
        grid-area: 1/5/2/7;
    }
}

.illustration {
    background-color: base.$clr-light-red;
    grid-area: 3/1/4/3;

    @include utils.mQ(42.5rem) {
        grid-area: 2/3/3/5;
    }
}

.motion-graphics {
    background-color: base.$clr-magenta;
    grid-area: 5/1/6/3;

    @include utils.mQ(42.5rem) {
        grid-area: 3/3/5/5;
    }

    @include utils.mQ(61.25rem) {
        grid-area: 2/5/3/7;
    }
}

.design-img {
    grid-area: 1/2;
    justify-self: self-end;
}

.design-content {
    align-self: end;
    grid-area: 2/1/3/3;
    color: base.$clr-white;
    font-size: base.$fs-24;
    font-weight: base.$fw-bold;
}

.profile {
    margin-top: 7rem;
    flex-direction: column;
    gap: 2.5rem;

    @include utils.mQ(42.5rem) {
        flex-direction: row;
    }
}

.profile-img-container {
    flex: 1 1 50%;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 1 50%;

    @include utils.mQ(42.5rem) {
        align-items: baseline;
    }
}

.profile-img {
    max-width: 27.8rem;
    width: 87.5%;
    margin: auto;

    @include utils.mQ(42.5rem) {
        width: 100%;
    }
}

.profile-title {
    color: base.$clr-black;
    font-size: base.$fs-26;
    font-weight: base.$fw-bold;
    text-align: center;
    line-height: base.$line-height-title;

    @include utils.mQ(42.5rem) {
        text-align: left;
        font-size: base.$fs-32;
    }

    @include utils.mQ(61.25rem) {
        font-size: base.$fs-40;
    }
}

.profile-text {
    text-align: center;
    color: base.$clr-medium-brown;
    font-weight: base.$fw-normal;
    line-height: base.$line-height-content;
    font-size: base.$fs-16;

    @include utils.mQ(42.5rem) {
        text-align: left;
        font-size: base.$fs-18;
    }
}

.carousel {
    margin-top: 2.5rem;
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel-title {
    text-align: center;
    margin-block: 3rem;
    font-size: 2rem;
}

.slide-container {
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 1rem;
}

.slide {
    position: relative;
    flex: 0 0 85%;
    // width: 100%;
    background-color: #f99;
    counter-increment: item;
    transition: all 0.5s;

    @include utils.mQ(42.5rem) {
        flex: 0 0 50%;
    }

    @include utils.mQ(61.25rem) {
        flex: 0 0 33.3%;
    }
}

.slide-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 22.5rem;
}

.slide::before {
    content: counter(item);
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate3d(-50%, -40%, 70px);
    color: base.$clr-light-red;
    font-size: 2em;
    font-weight: base.$fw-bold;
}

.carousel-controller {
    margin-block: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bookings {
    @include utils.mQ(61.25rem) {
        flex: 1 1 60%;
    }
}

.cta {
    @include utils.mQ(61.25rem) {
        flex: 1 1 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.bookings {
    padding-inline: 2rem;

    @include utils.mQ(42.5rem) {
        padding-inline: 3.5rem;
    }
}

.booking-title {
    text-align: center;
    font-size: base.$fs-26;
    font-weight: base.$fw-bold;
    line-height: base.$line-height-title;

    @include utils.mQ(61.25rem) {
        text-align: left;
    }
}

.booking-content {
    padding-block: 2rem;
    text-align: center;
    font-size: base.$fs-16;
    line-height: base.$line-height-content;

    @include utils.mQ(42.5rem) {
        font-size: base.$fs-18;
    }

    @include utils.mQ(61.25rem) {
        text-align: left;
        padding-inline: 0;
    }
}

.footer-content {
    background-color: base.$clr-black;
    color: base.$clr-white;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
    gap: 1.5rem;
    border-radius: 10px;

    @include utils.mQ(61.25rem) {
        padding-inline: 4rem;
        padding-block: 4rem;
        flex-direction: row;
    }
}

.carousel-snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}