@use '../base';
@use '../utils';

body {
    background-color: base.$clr-light-cream;
    font-family: base.$font-family;
}

.container {
    width: min(100% - 2rem, 69.4rem);
    margin-inline: auto;
    margin-block: 1rem;
}

.main {
    margin-block-start: 2rem;
}

.designs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 1rem;
    border-radius: 8px;
    padding: 1.5rem;
}

.designs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    @include utils.mQ(42.5rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    @include utils.mQ(61.25rem) {
        //  grid-area: 1/1/3/3;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.graphic-design {
    background-color: base.$clr-galactic-blue;
    grid-area: 1/1/2/3;
    gap: 5.5rem 1rem;

    @include utils.mQ(42.5rem) {
        grid-area: 1/1/3/3;
    }

    @include utils.mQ(61.25rem) {
        // grid-area: 1/1/3/3;
    }
}

.ui-ux {
    background-color: base.$clr-summer-yellow;
    gap: 3rem 1rem;
}

.apps {
    background-color: base.$clr-dark-pink;
    gap: 3rem 1rem;
}

.photography {
    background-color: base.$clr-cyan;
    grid-area: 4/1/5/3;

    @include utils.mQ(42.5rem) {
        grid-area: 3/1/5/3;
    }

    @include utils.mQ(61.25rem) {
        grid-area: 1/5/2/7;
    }
}

.illustration {
    background-color: base.$clr-light-red;
    grid-area: 3/1/4/3;

    @include utils.mQ(42.5rem) {
        grid-area: 2/3/3/5;
    }
}

.motion-graphics {
    background-color: base.$clr-magenta;
    grid-area: 5/1/6/3;

    @include utils.mQ(42.5rem) {
        grid-area: 3/3/5/5;
    }

    @include utils.mQ(61.25rem) {
        grid-area: 2/5/3/7;
    }
}

.design-img {
    grid-area: 1/2;
    justify-self: self-end;
}

.design-content {
    align-self: end;
    grid-area: 2/1/3/3;
    color: base.$clr-white;
    font-size: base.$fs-24;
    font-weight: base.$fw-bold;
}

.profile {
    margin-top: 7rem;
    flex-direction: column;
    gap: 2.5rem;

    @include utils.mQ(42.5rem) {
        flex-direction: row;
    }
}

.profile-img-container {
    flex: 1 1 50%;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 1 50%;

    @include utils.mQ(42.5rem) {
        align-items: baseline;
    }
}

.profile-img {
    max-width: 27.8rem;
    width: 87.5%;
    margin: auto;

    @include utils.mQ(42.5rem) {
        width: 100%;
    }
}

.profile-title {
    color: base.$clr-black;
    font-size: base.$fs-26;
    font-weight: base.$fw-bold;
    text-align: center;
    line-height: base.$line-height-title;

    @include utils.mQ(42.5rem) {
        text-align: left;
        font-size: base.$fs-32;
    }
    @include utils.mQ(61.25rem) {
        font-size: base.$fs-40;
    }
}

.profile-text {
    text-align: center;
    color: base.$clr-medium-brown;
    font-weight: base.$fw-normal;
    line-height: base.$line-height-content;
    font-size: base.$fs-16;

    @include utils.mQ(42.5rem) {
        text-align: left;
        font-size: base.$fs-18;
    }
}